.articles
  %h1 記事一覧

  - @articles.each do |article|
    %article{ class: dom_id(article) }
      %header
        %h2= article.title
      %section
        = simple_format article.body
      %footer
        %time= l article.created_at
